[run]
branch = True
omit =
    *__init__.py
    tests/*

[report]
omit =
    *__init__.py
    tests/*
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    ^if __name__ == ['"]__main__['"]:$

    # Don't complain if tests don't hit defensive assertion code:
    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^\s*raise$

    # Don't complain for skipped tests
    ^@pytest.mark.skip
